<% layout('/layouts/boilerplate') %> 
    <h1 class="text-center ">Edit Campground</h1>
    <form class="container w-50" action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
    <div class="my-1">
        <label for="title" class="form-label mx-1">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
    </div>
    <div class="my-1">
        <label for="location" class="form-label  mx-1">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %> ">
    </div>
<div class=" input-group my-2">
    <label for="image" class="form-label  mx-1 mb-0 pb-0">Image Url</label>
    <div class=" input-group my-2">
       
        <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %> ">
        <input class="input-group-text" type="reset" value="Reset/Disabled"  id="image">
    </div>
</div>
<label class="form-label  mx-1" for="price">Campground Price</label>
    <div class="input-group mb-2">
      <br>
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" name="campground[price]" value="<%= campground.price %>">
        <span class="input-group-text">.00</span>
      </div>
    <div class="my-1  mx-1">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="textarea" id="description" name="campground[description]" style="height: 100px"><%= campground.description %></textarea>
    </div>
    <button class="btn btn-info text-light my-3">Update Campground</button><br>
    <a class="mx-1 " href="/campgrounds/<%= campground._id %> ">Back to Campgrounds</a>
    </form>
   
